* {
    color: black;
}

:root {
    --cor--principal: #121828;
    --cor--secundario: rgb(168, 168, 168);
    --branco: white;
    --borda: #454955;
    --azul: #2191fb;
    --azul--secundario: #025cb1;
}

html, body {
    overflow-x: hidden;
    background-color: var(--branco);
}

.corpo {
    margin-top: 100px;
}

.borda {
    border: 2px solid var(--branco);
    border-radius: 10px;
    padding-top: 860px;
    padding-left: 600px;
    position: absolute;
    margin-left: 630px;
    margin-top: -1070px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 150px;
}

.icon {
    font-size: 3rem;
    text-align: center;
}

.title {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.lab {
    font-size: 1rem;
    margin-left: 730px;
    position: absolute;
    font-weight: 550;
    font-family: "Inter", sans-serif;
    margin-top: 80px;
}

.nome {
    margin-left: 730px;
    width: 400px;
    height: 30px;
    margin-top: 110px;
    border-radius: 5px;
    border: 1px solid var(--borda);
    background-color: var(--branco);
}

.lb {
    font-size: 1rem;
    margin-left: 730px;
    position: absolute;
    font-weight: 550;
    font-family: "Inter", sans-serif;
    margin-top: -100px;    
}

.senha {
    margin-left: 730px;
    width: 400px;
    height: 30px;
    margin-top: -70px;
    border-radius: 5px;
    border: 1px solid var(--borda);
    position: absolute;
    background-color: var(--branco);
}

.container-1 {
    margin-top: 130px;
}

.lb-1 {
    font-size: 1rem;
    margin-left: 730px;
    position: absolute;
    font-weight: 550;
    font-family: "Inter", sans-serif;
}


.inp {
    margin-left: 730px;
    width: 400px;
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid var(--borda);
    background-color: var(--branco);
}



.lb-2 {
    font-size: 1rem;
    margin-left: 730px;
    position: absolute;
    font-weight: 550;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
}

.senha-1 {
    margin-left: 730px;
    width: 400px;
    height: 30px;
    margin-top: 130px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid var(--borda);
    background-color: var(--branco);
}

.but {
    padding: 10px;
    font-size: 20px;
    background-color: #2191fb;
    border: 2px solid #2191fb;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 21.4%;
    margin-left: 730px;
    margin-top: 260px;
    cursor: pointer;
}

.lembrar {
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
    width: 100%;
}

.check {
    margin-left: 700px;
    margin-top: -161px;
    position: absolute;
    appearance: none;
    border: 2px solid var(--borda);
    background-color: var(--cor--principal);
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.text {
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin-top: -159px;
    margin-left: 730px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.forgot-pass {
    margin-left: 970px;
    margin-top: -108px;
    position: absolute;
}

.link {
    text-decoration-line: none;
    color: #2191fb;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.texto {
    font-size: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 50px;
}

.stick {
    width: 5%;
    margin-top: -30px;
    margin-left: 760px;
    position: absolute;
    color: var(--cor--principal);
}

.dick {
    width: 5%;
    margin-top: -30px;
    margin-left: 1020px;
    position: absolute;
}

.google {
    font-size: 20px;
    margin-left: 730px;
    border: 2px solid var(--branco);
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
}

.google:hover {
    background-color: var(--azul);
    border: 2px solid var(--azul);
    padding-left: 93px;
    padding-right: 53px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: var(--branco);
    transition: 0.6s;
}

#contas:has(.google:hover) .icons i {
    color: var(--branco) !important;
    font-size: 40px;
    transition: 0.6s;
}

.icons,
.icons-1 {
    pointer-events: none;
    transition: 0.6s;
}

.icons a,
.icons-1 a {
    pointer-events: none;
    cursor: default;
    transition: 0.6s;
}

.icons {
    font-size: 30px;
    margin-top: 18px;
    position: absolute;
    z-index: 2;
    margin-left: 760px;
    transition: 0.6s;
}

.icons-1 {
    font-size: 30px;
    margin-top: 18px;
    margin-left: 980px;
    position: absolute;
    z-index: 2;
    transition: 0.6s;
}

.git {
    font-size: 20px;
    margin-left: 950px;
    border: 1px solid var(--branco);
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
}

.git:hover {
    background-color: var(--azul);
    border: 2px solid var(--azul);
    padding-left: 93px;
    padding-right: 53px;
    padding-top: 23px;
    padding-bottom: 23px;
    color: var(--branco);
    transition: 0.6s;
}

#contas:has(.git:hover) .icons-1 i {
    color: var(--branco) !important;
    font-weight: 500;
    position: absolute;
}

.duvidas {
    display: flex;
    gap: 10px;
    margin-left: 750px;
    margin-top: 140px;
    font-family: "Roboto", sans-serif;
}

.duvida {
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
    cursor: pointer;
}

.login {
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    text-decoration: none;
    color: #2191fb;
    font-weight: 540;
    cursor: pointer;
}

.seta {
    width: 10vw;
    height: 10vw;
    position: absolute;
    margin-left: 5vw;
    margin-top: 10vh;
    cursor: pointer;
}

@media (max-width: 430px) {
    .borda {
        display: flex;
        justify-content: center;
    }
}