@import url('https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

html, body {
    overflow-x: hidden;
}

header {
    background-color: #2191fb;
    mask-image: linear-gradient(to bottom, #2191fb, transparent #cf5334);
    width: 100%;
}

.buttons {
    background-color: #2191fb;
    color: #FDFFFC;
    margin-top: -185px;
    width: 60%;
    position: absolute;
}

.nav {
    background-color: #2191fb;
    width: 100%;
    height: 140px;
    top: 0;
    text-align: center;
}

.home {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
    position: absolute;
}

.bordados {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
}

.sobre-nos {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
    color: #FDFFFC;
}

.contatos {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
    color: #FDFFFC;
}

.carrinho {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
}

.conta {
    background-color: #2191fb;
    display: flex;
    flex-direction: row;
    margin-left: 1050px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Miranda Sans", sans-serif;
    transition: 0.5s;
}

.img-logo {
    margin-top: -10px;
    margin-left: -10px;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
    position: relative;
}

ul {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 90px;
    width: 10%;
    background-color: #2191fb;
    cursor: pointer;
}

.home:hover {
    font-size: 30px;
    transition: 0.5s;
}

.bordados:hover {
    font-size: 30px;
    transition: 0.5s;
}

.carrinho:hover {
    font-size: 30px;
    transition: 0.5s;
}

.conta:hover {
    font-size: 30px;
    transition: 0.5s;
}

.contatos:hover {
    font-size: 30px;
    transition: 0.5s;
}

.sobre-nos:hover {
    font-size: 30px;
    transition: 0.5s;
}

.article-h1 {
    text-align: left;
    margin-top: 400px;
    font-size: 30px;
    color: black;
    margin-left: 160px;
}

.img-banner-container {
    width: 100%;
    height: 1080px;
    mask-image: linear-gradient(to bottom, #2191fb, transparent);
    margin-top: 0;
}

.section {
    text-align: center;
    margin-top: 400px;
    color: black;
}

.section-h1 {
    font-size: 40px;
    color: black;
}

.bordado {
    margin-top: 170px;
    margin-left: -1000px;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 30px;
    align-items: center;
    transition: 0.6s;
}

.precos {
    font-size: 50px;
}

.card-img {
    border-radius: 20px;
    transition: 0.6s;
    margin: auto;
}

.card-h3 {
    margin-top: 20px;
    font-size: 24px;
    color: black;
}

.card-p {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    width: 80%;
}

.card-1 {
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 30px;
    transition: 0.6s;
}

.card-img-1 {
    border-radius: 20px;
    transition: 0.6s;
    margin: auto;
}

.card-2 {
    margin-top: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.card-img-2 {
    border-radius: 20px;
    transition: 0.6s;
    margin: auto;
}

.card:hover {
    padding: 70px;
    transition: 0.6s;
    background-color: #f3f3f3;
}

.card-1:hover {
    padding: 70px;
    transition: 0.6s;
    background-color: #f3f3f3;
}

.card-2:hover {
    padding: 70px;
    transition: 0.6s;
    background-color: #f3f3f3;
}

.section-2 {
    margin-top: 400px;
    text-align: center;
}

.section-h1-2 {
    font-size: 40px;
}

.section-h1-3 {
    font-size: 40px;
}

.section-content-2 {
    margin-top: 200px;
}

.section-3 {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 200px;
}

.footer {
    background-color: #2191fb;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    color: #FDFFFC;
}

.section-3-content {
    margin-top: 100px;
}

.block {
    text-align: center;
    font-size: 50px;
    font-style: oblique;
}

.end {
    margin-top: 300px;
}

h2 {
    font-size: 40px;
}

@media (max-width: 430px) {

    header {
        background-color: #2191fb;
        width: 100%;
        height: 50px;
        top: 0;
        text-align: center;
    }

    .nav {
        width: 430px;
        height: 100px;
        background-color: #2191fb;
        display: block;
    }

    .img-logo {
        display: flex;
        width: 100px;
    }

    .img-banner-container {
        margin-top: 50px;
        mask-image: linear-gradient(to bottom, #2191fb, transparent);
        align-items: center;
    }

    .home {
        font-size: 7px;
        margin-top: 75px;
    }

    .bordados {
        font-size: 7px;
        margin-top: 75px;
    }

    .sobre-nos {
        font-size: 7px;
        margin-top: 75px;
    }

    .contatos {
        font-size: 7px;
        margin-top: 75px;
    }

    .carrinho {
        font-size: 7px;
        margin-top: 75px;
        margin-left: 30px;
    }

    .conta {
        font-size: 7px;
        margin-top: 75px;
        margin-left: 70px;
    }

    .buttons {
        margin-left: 50px;
        display: flex;
        width: 0%;
        margin-top: -220px;
    }

    .article-h1 {
        margin-top: -500px;
        font-size: 40px;
        margin-left: 94px;
        width: 100%;
    }

    .cards {
        margin-top: -400px;
    }

    .card-1 {
        margin-top: 1000px;
        position: absolute;
        width: 90%;
    }

    .card-2 {
        margin-top: 1490px;
        position: absolute;
        width: 90%;
    }

    .card {
        margin-top: 500px;
        position: absolute;
        width: 90%;
    }

    .section {
        text-align: center;
        margin-top: 2100px;
        color: black;
    }

    .section-h1 {
        font-size: 40px;
        color: black;
    }

    .section-2 {
        margin-top: 100px;
        text-align: center;
    }

    .section-h1-2 {
        font-size: 40px;
    }

    .block {
        text-align: center;
        font-size: 50px;
        font-style: oblique;
        width: 100%;
    }
}